<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All Bookings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <link th:href="@{style.css}" rel="stylesheet"/>
    <link th:href="@{table.css}" rel="stylesheet"/>


</head>
<body>

<div class="container">

    <main>

        <br/>
        <h1>List of Bookings</h1>

        <table>
            <tr>
                <th>Booking ID</th>
                <th>Order Date</th>
                <th>Paid</th>
                <th>Customer ID</th>
                <th>Motorhome ID</th>
                <th>First Name</th>
                <th>Last Name</th>


            </tr>
            <tr>
                <td th:text="${booking_id}"></td>
                <td th:text="${order_date}"></td>
                <td th:text="${paid}"></td>
                <td th:text="${customer_id}"></td>
                <td th:text="${motorhome_id}"></td>
                <td th:text="${firstName}"></td>
                <td th:text="${lastName}"></td>




            </tr>
        </table>
    </main>
    <hr/>
    <footer>
        <p>© 2020 - HSM</p>
    </footer>
</div>



</body>
</html>
