<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Create booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>

<header>

</header>

<main>

    <div class="row justify-content-center">
        <h1>Create Booking</h1>
    </div>

    <div class="row justify-content-center">

        <form action="/createbooking" method="post">


            <br/>

            <div class="from-group">
                <input type="number" name="customer_id"  class="form-control" required>
            </div>

            <div class="from-group">
                <label for="Motorhome">Motorhome</label>
                <input type="number" name="motorhome_id" id="Motorhome" class="form-control" required>
            </div>

            <div class="from-group">
                <label for="Order Date">order Date</label>
                <input type="date" name="order Date" id="Order Date" class="form-control" required>
            </div>

            <div class="from-group">
                <label for="Paid">Paid</label>
                <input type="checkbox" name="Paid" id="Paid" class="form-control" required>
            </div>

            <br/>

            <div>
                <button type="submit" name="submit" class="btn btn-primary">Next</button>
            </div>


        </form>

    </div>

</main>

<footer>

</footer>

</body>
</html>