<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Motorhome Nordic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"

          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>
<body>

<header>
    <h2 class="logo">Motorhome Nordic</h2>
</header>

<main>

    <articel>

        <section>

            <div class="row justify-content-center">
                <img width="500"
                     src="https://pluscamp.no/sites/default/files/styles/bildeslide-toppbilde/public/produktbilde/pluscampStrynsvatnCamping_bobilutleie_toppbilde.jpg?itok=2Upkn_LW"
                     alt="Camping">
                <button class="btn btn-danger">Book</button>
            </div>

        </section>

        <br/>

        <section>


            <div class="row justify-content-center">
                <img width="500" src="https://files.guidedanmark.org/files/442/140525_Kais_Caravan_vogn.jpg.jpg"
                     alt="Camping">
                <button class="btn btn-danger">Book</button>
            </div>

        </section>


    </articel>

</main>

<footer></footer>


</body>
</html>